<h1>New project</h1>

<%= form_for @project do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br/>
  <%= form.label :description %>
  <%= form.text_area :description %>
  <br/>
  <%= form.button %>
<% end %>

<br/>
<%= link_to 'Cancel', projects_path %>
